html, body, #app {
    height: 100%;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked+.nav-menu {
        display: block;
    }
}

@font-face {
    font-family: F1-Regular;
    src: url("../assets/Formula1-Regular.ttf") format("opentype");
}
@font-face {
    font-family: F1-Bold;
    src: url("../assets/Formula1-Bold.ttf") format("opentype");
}
@font-face {
    font-family: F1-Black;
    src: url("../assets/Formula1-Black.ttf") format("opentype");
}
@font-face {
    font-family: F1-Wide;
    src: url("../assets/Formula1-Wide.ttf") format("opentype");
}

p {
    font-family: 'F1-Bold', 'Roboto', sans-serif;
  }